@import "tailwindcss";
@import "@embroiderly/ui";

@import "./tour.css";

@font-face {
  src: url("/fonts/FixelVariable.ttf") format("truetype");
  font-family: "Fixel";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/FixelVariableItalic.ttf") format("truetype");
  font-family: "Fixel";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "Fixel", ui-sans-serif, system-ui, sans-serif;
  --animate-rainbow-shine: rainbow-shine 2.4s linear infinite;
}

@keyframes rainbow-shine {
  0% {
    color: var(--ui-color-primary-500);
  }
  20% {
    color: var(--ui-color-error-500);
  }
  40% {
    color: var(--ui-color-warning-500);
  }
  60% {
    color: var(--ui-color-success-500);
  }
  80% {
    color: var(--ui-color-info-500);
  }
  100% {
    color: var(--ui-color-primary-500);
  }
}
